/* Reset some default styles */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Main container */
.main {
    width: auto;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #f3880e;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar .menu ul {
    display: flex;
    list-style: none;
}

.navbar .menu li {
    margin-left: 20px;
}

.navbar .menu a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar .menu a:hover {
    background-color: hsl(0, 34%, 46%);
}

/* Content styles */
.content {
    text-align: center;
    padding: 50px 20px;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f88705;
}

.content span {
    color: #007bff;
}

.content .par {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #007bff;
}

.content button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.content button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

.content button:hover {
    background-color: #0056b3;
}

.content .download {
    background-color: #28a745;
}

.content .download:hover {
    background-color: orange;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color:orange;
    color: #000000;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu {
        margin-top: 10px;
    }

    .navbar .menu ul {
        flex-direction: column;
    }

    .navbar .menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .content h1 {
        font-size: 1.5em;
    }

    .content .par {
        font-size: 1em;
    }
}
